<header>
	<nav>
		<ul>
			<!-- Pour les visiteurs -->
			<li>Accueil</li>
			<li>Nos voyages</li>
			<li>Photos & vidéos</li>
			<li>Coups de coeurs</li>
			<li>Conventions</li>
			<li>Recherche</li>
			<li>A propos</li>

			<!-- Pour les utilisateurs -->
			<li>Créer un article</li>
			<li>Mon profil</li>

			<!-- Pour les admins -->
			<li>Interface de gestion</li>
		</ul>
	</nav>
</header>